/* valiables*/
:root {
  --m-primary: 5px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* formmating the body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("imgs/3d-rendering-loft-scandinavian-living-room-with-working-table-bookshelf.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* formmating the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 30px !important;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  max-width: 660px !important;
}

.container .heading {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: left;
  padding: 20px 5px;
}

/* formmating the heading */
.container h1 {
  color: black;
  text-align: left;
  font-weight: 600;
}

/* formmating the form */
form {
  display: flex;
  flex-direction: column;
}

.form-group-name,
.form-group-pass {
  display: flex;
  margin-bottom: var(--m-primary);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: var(--m-primary);
  font-weight: 400;
}

.form-group input,
.form-group-pass input,
.form-group-name input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group-role {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-primary);
}

.form-group-role input {
  margin-right: 5px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container button:hover {
  background-color: #45a049;
}
